<article
  [class]="{
    'status-open': task().status === 'OPEN',
    'status-in-progress': task().status === 'IN_PROGRESS',
    'status-done': task().status === 'DONE'
  }"
>
  <header>
    <h3>{{ task().title }}</h3>
    <p (click)="updateTask()">{{ taskStatus() }}</p>
    @if(task().completedOn != undefined ){
    <span class="text-end" style="font-style: italic;font-size: x-small;">{{ task().completedOn | date: 'medium' }}  </span>
    }
  </header>
  <p>{{ task().description }}</p>
  <form (ngSubmit)="onChangeTaskStatus(task().id, status.value)">
    @if(task().completedOn == undefined ){
    <p class="text-start" style="font-size:smaller;">
      @if(task().createdOn != undefined && task().updatedOn == undefined) {
        {{ task().createdOn | date: 'medium' }}
      }
      @if(task().updatedOn != undefined) {
        {{ task().updatedOn | date: 'medium' }}
      }
    </p>
  }
    <select name="status" #status>
      <option value="open" [selected]="task().status === 'OPEN'">Open</option>
      <option value="in-progress" [selected]="task().status === 'IN_PROGRESS'">
        In-Progress
      </option>
      <option value="done" [selected]="task().status === 'DONE'">
        Completed
      </option>
    </select>
    <p>
      <button (click)="onChangeTaskStatus(task().id, status.value)">Change Status</button>
    </p>
    <p>
      <button class="remove" (click)="onRemoveTaskClick(task().id)">Remove</button>
    </p>
  </form>
</article>
