<br/>
<header>
  <div class="container-fluid px-0">
  <div class="row">
    <div class="col text-start">
      <p>
    <select (change)="onChangeTasksFilter(filter.value)" #filter>
      <option value="open/in-progress">Open/In-Progress</option>
      <option value="all">All</option>
      <option value="open">Open</option>
      <option value="in-progress">In-Progress</option>
      <option value="done">Completed</option>
    </select>
  </p>
    </div>
    <div class="col text-end">
      <p>
    <button class="btn btn-warning" (click)="open()">Add Task</button>
  </p>
    </div>
  </div>
</div>
</header>
<ul>
  @for (task of tasks(); track task.id) {
    @if(selectedFilter().includes(task.status)){
      <li>
      <app-task-item [task]="task" />
      </li>
    }
  }
</ul>
